# --- Backend ---
.env
*.env*
*.db
venv/
__pycache__/
*.pyc
.pytest_cache/
uploads/

# --- Frontend ---
node_modules/
dist/
build/
.DS_Store

# IDEIGLENES / LOG FÁJLOK
*.log
npm-debug.log*

# --- Szerkesztő (IDE) fájlok ---
.vscode/
.idea/